<p>header works!</p>

<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <button (click)="navigationTo('dashboard')">Dashboard</button>
  <button (click)="navigationTo('home')">Home</button>
  <button (click)="navigationTo('login')">Login</button>
  <button (click)="navigationTo('register')">Register</button>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <button (click)="navigationTo('dashboard')">Dashboard</button>
  <button (click)="navigationTo('home')">Home</button>
  <button (click)="navigationTo('posts')">Admin posts</button>
  <button (click)="navigationTo('categories')">Admin categories</button>
  <button (click)="navigationTo('profile')">Profile</button>
  <button (click)="logout()">Logout</button>
</div>
